.container {
  max-width: 1200px;
  margin: 0 auto;

  @include bp(phone) {
    padding-top: 2rem;
  }
}

.board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 2rem;
  // width: 100%;
  // height: 100%;

  padding: 2rem;
  background-color: $color-white;

  @include bp(phone) {
    grid-gap: 1rem;
    padding: 0.5rem;
  }
}
